name: CI

on:
  pull_request:
    paths:
      - "**.js"
      - "package-lock.json"
      - ".github/workflows/lint.yml"

jobs:
  lint:
    name: Lint
    env:
      CI: true
      FORCE_COLOR: 2

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install Packages
        run: npm ci

      - name: Lint
        run: npm run -s lint
