name: CI

on:
  pull_request:
    paths:
      - "index.js"
      - "package-lock.json"
      - "__tests__/**"
      - ".github/workflows/test.yml"

jobs:
  test:
    name: Test
    env:
      CI: true
      FORCE_COLOR: 2

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - run: npm ci

      - run: mkdir -p coverage

      - run: npm test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest'
        with:
          use_oidc: true
          files: ./coverage/lcov.info
          name: ${{ matrix.os }}
          fail_ci_if_error: true
